
<app-banner></app-banner>
<div>
  <div class="content_title" >
    <span>
      FOREIGN EXCHANGE TRANSACTIONS
    </span>
    <span>
      Banking and insurance services in one offer. Withdraw money without commissions, pay noncontact, rest assured of the safety of the funds. We are afraid of theft of the card, cash and purchases.
    </span>
  </div>
  <div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

  <div class="container">
    <div class="left-section">
        <h2>GET IN TOUCH</h2>
        <p>BSCA Bank is a leading bank in Europe with an international reach. It has a presence in 75 countries.</p>
        <button class="contact-button">CONTACT SALES PERSON</button>
    </div>
    <div class="right-section">
        <form>
            <input type="text" placeholder="Name" required>
            <div class="form-row">
                <input type="email" placeholder="Email" required>
                <input type="tel" placeholder="Phone number">
            </div>
            <textarea placeholder="Message" required></textarea>
            <button type="submit" class="contact-button">CONTACT SALES PERSON</button>
        </form>
    </div>
</div>


