<footer class="footer">
  <div class="footer_top" >
      <div class="container">
          <div class="column">
              <h3>BSCA Bank 24/7</h3>
              <ul>
                  <li>
                      <img src="images/Group 2.svg" alt="" >
                      <a href="#">BSCA online</a>
                  </li>
                  <li>
                      <img src="images/support.svg" alt="" >
                      <a href="#">StartContact</a>
                  </li>
                  <li>
                      <img src="images/chat (1).svg" alt="" >
                      <a href="#">StartSMS</a>
                  </li>
                  <li>
                      <img src="images/chat.svg" alt="" >
                      <a href="#">Feedback</a>
                  </li>
              </ul>
          </div>
          <div class="column">
              <h3>Individuals</h3>
              <ul>
                  <li><a href="#">Deposits</a></li>
                  <li><a href="#">Loans</a></li>
                  <li><a href="#">Consumer cash loan</a></li>
                  <li><a href="#">Money transfers</a></li>
                  <li><a href="#">Individual Deposits Guarantee Fund</a></li>
              </ul>
          </div>
          <div class="column">
              <h3>Medium and Small Business</h3>
              <ul>
                  <li><a href="#">Small and medium enterprises</a></li>
                  <li><a href="#">StarAccess</a></li>
                  <li><a href="#">Current accounts in UAH</a></li>
                  <li><a href="#">Current accounts in foreign currency</a></li>
                  <li><a href="#">Loans</a></li>
                  <li><a href="#">Deposits</a></li>
                  <li><a href="#">Salary project</a></li>
              </ul>
          </div>
          <div class="column">
              <h3>Personal Banking Services</h3>
              <ul>
                  <li><a href="#">Deposit programs</a></li>
                  <li><a href="#">High-level payment cards</a></li>
                  <li><a href="#">Investing in funds</a></li>
                  <li><a href="#">Insurance</a></li>
                  <li><a href="#">Individual safe deposit boxes</a></li>
                  <li><a href="#">Our offices</a></li>
              </ul>
          </div>
          <div class="column">
              <h3>Help</h3>
              <ul>
                  <li><a href="#">Notification on traveling abroad</a></li>
                  <li><a href="#">Questions</a></li>
                  <li><a href="#">Choose deposit</a></li>
                  <li><a href="#">Calculate loan</a></li>
                  <li><a href="#">Get a loan decision</a></li>
                  <li><a href="#">Choose your payment card</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Quality of service</a></li>
              </ul>
          </div>
          </div>

          <div  class="container" >
              <div class="column">
                  <h3>Mobile Application BSCA Online</h3>
                  <ul  class="app-links">
                      <li>
                          <img src="images/android.svg" alt="Google Play">
                      </li>
                      <li>
                          <img src="images/ios.svg" alt="App Store">
                      </li>
                  </ul>
              </div>

          <div class="column">
              <h3>Payment Cards</h3>
              <ul>
                  <li><a href="#">Notification on traveling abroad</a></li>
                  <li><a href="#">Payment cards</a></li>
                  <li><a href="#">All inclusive</a></li>
                  <li><a href="#">Credit card</a></li>
                  <li><a href="#">O'CHEVY/CODA</a></li>
                  <li><a href="#">Card limits</a></li>
                  <li><a href="#">SMS-notification</a></li>
                  <li><a href="#">Conversion rates on cards</a></li>
              </ul>
          </div>



          <div class="column">
              <h3>Corporate</h3>
              <ul>
                  <li><a href="#">StarAccess</a></li>
                  <li><a href="#">Current accounts</a></li>
                  <li><a href="#">Credit operations</a></li>
                  <li><a href="#">Currency exchange</a></li>
                  <li><a href="#">Cash collection and transportation</a></li>
                  <li><a href="#">Payment cards</a></li>
                  <li><a href="#">Special cash management solutions</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
          <div class="column">
              <h3>Premium UkrSibbank</h3>
              <ul>
                  <li><a href="#">Become client</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Concierge service</a></li>
                  <li><a href="#">Deposit boxes</a></li>
              </ul>
          </div>
          <div class="column">
              <div class="site-footer">
                  <div class="footer-container">
                      <div class="search-container">
                          <input type="text" placeholder="Rechercher...">
                          <img class="search-icon" src="images/baseline-search-24px (1)(1).svg" alt="">
                      </div>
                  </div>
              </div>
              <div class="social-icons">
                  <a href="#"><img src="images/facebook.svg" alt="" srcset=""></a>
                  <a href="#"><img src="images/twitter.svg" alt="" srcset=""></a>
                  <a href="#"><img src="images/youtube.svg" alt="" srcset=""></a>
              </div>
          </div>
      </div>
  </div>
  <div class="footer_center" >

  </div>
  <div class="footer_bottom" >
      <div>
          <span style="margin-right: 30px;" >Site map</span>
          <span>Legal information</span>
      </div>

      <div>
          <img src="images/logo2.svg" alt="" srcset="">
      </div>

      <span>© «Banque Sino-Congolaise pour I’ Afrique», 2018</span>
  </div>
</footer>
