<section>
  <div class="container">
    <div class="card">
      <h2 class="card_title">CASH MANAGEMENT</h2>
      <p class="card_content">BSCA Bank is a leading bank in Europe with an international reach. It has a presence in 75 countries, with more than 202,300 employees, including more than 146,000 in Europe.</p>
      <input class="card_btn" type="button" value="LEARN MORE">
    </div>
    <div class="caroussel">
      <div class="caroussel_left_chevron">
        <img src="icons/left_chevron.svg" alt="">
      </div>
      <div class="caroussel_container">
        <div class="caroussel_item">
          <img class="caroussel_item_image" src="images/caroussel_image_1.png" alt="">
          <h3 class="caroussel_item_title">Logistics</h3>
          <p class="caroussel_item_content">BSCA Bank is a leading bank in Europe with an international reach. It has a presence in 75 countries, with more than 202,300 employees, </p>
        </div>
        <div class="caroussel_item">
          <img class="caroussel_item_image" src="images/caroussel_image_2.png" alt="">
          <h3 class="caroussel_item_title">Logistics</h3>
          <p class="caroussel_item_content">BSCA Bank is a leading bank in Europe with an international reach. It has a presence in 75 countries, with more than 202,300 employees, </p>
        </div>
      </div>
      <div class="caroussel_right_chevron">
        <img src="icons/right_chevron.svg" alt="">
      </div>
    </div>
  </div>
</section>