<section>
  <div class="image"></div>
  <div class="description_container">
    <div class="navigator_container">
      <div class="navigator">
        <span></span>
        <span class="active"></span>
        <span></span>
      </div>
    </div>
    
    <div class="description">
      <div class="description_item">
        <img src="icons/sun.png" alt="">
        <h3>Financial treasure</h3>
        <p>We always use an individual approach to build a strategy tailored just for you and </p>
      </div>
      <div class="separator"></div>
      <div class="description_item">
        <img src="icons/credit_card.png" alt="">
        <h3>Cash management</h3>
        <p>We always use an individual approach to build a strategy tailored just for you and </p>
      </div>
      <div class="description_item">
        <img src="icons/corona.png" alt="">
        <h3>Corona virus</h3>
        <p>We always use an individual approach to build a strategy tailored just for you and </p>
      </div>
    </div>
  </div>
</section>