<section>
  <div class="container">
    <div class="top_section">
        <div class="image_box">
            <img src="images/about_block_image_1.png" alt="Building Image">
        </div>
        <div class="text_box">
            <h2>Our Strategy and Corporate Culture</h2>
            <p>Individual and highly professional approach to you and your business.</p>
            <button type="button" href="#" class="btn">Learn More</button>
        </div>
    </div>

    <div class="bottom_section">
        <div class="text_box">
            <h2>Foreign Exchange Transactions</h2>
            <p>Banking and insurance services in one offer. Withdraw money without commissions, pay noncontact, rest assured of the safety of the funds. We are afraid of theft of the card, cash and purchases</p>
            <button type="button"  href="#" class="btn">Learn More</button>
        </div>
        <div class="image_box">
            <img src="images/about_block_image_2.png" alt="Stock Exchange Image">
        </div>
    </div>
  </div>
</section>