
<div  class="bankImage">
    
</div>
    <div class="container">
        <div class="container_first">
            <div class="section compliance">
                <h2>COMPLIANCE</h2>
                <p>In our everyday activities we are guided by the Laws of France and international laws. We know our Client, we care about our Clients' security and comfort, following BSCA Group high international standards and maintaining a reputation of a trustworthy Partner globally.</p>
                <button class="section--primary" >LEARN MORE</button>
            </div>
            <div class="section awards">
                <h2>AWARDS AND ACHIEVEMENTS</h2>
                <p>BSCA Bank is a leading bank in Europe with an international reach. It has a presence in 75 countries, with more than 202,300 employees, including more than 146,000 in Europe.</p>
                <button class="section--primary" >LEARN MORE</button>
            </div>

        </div>

        <div class="section strategy">
            <button class="section--green">About us</button>
            <h2>OUR STRATEGY AND CORPORATE CULTURE</h2>
            <p>Individual and highly professional approach to you and your business.</p>
            <button class="section--white" >LEARN MORE</button>
        </div>
        <div class="section cash-management">
            <button class="section--blue" >LEARN MORE</button>
            <h2>CASH MANAGEMENT</h2>
            <p>Receive an extra income from the efficient cash management solutions.</p>
            <button class="section--white">LEARN MORE</button>
        </div>
        <div class="section credit-operations">
            <h2>CREDIT OPERATIONS</h2>
            <p>We always use an individual approach to build a strategy tailored just for you and your financial needs.</p>
            <button class="section--white">LEARN MORE</button>
        </div>


        <div class="section credit-operations">
            <h2>ANALYTICAL REVIEWS</h2>
            <p>We provide a securities market analysis, bond market events calendar, etc.
            </p>
            <button class="section--white">LEARN MORE</button>
        </div>
        <div class="section cash-analycal">
            <button class="section--blue" >Cash Management</button>
            <h2>CASH MANAGEMENT</h2>
            <p>Banking and insurance services in one offer. Withdraw money without commissions, pay noncontact, rest assured of the safety of the funds. We are afraid of theft of the card, cash and purchases.</p>
            <button class="section--white">LEARN MORE</button>
        </div>



    </div>
    <div class="information">
        <div class="information_top">
            <span class="information_top_event">NEWS AND EVENTS</span>
            <span class="information_top_new">
                <span>ALL NEWS</span>
                <img src="../../../../public/images/next.png" alt="">
            </span>
        </div>
        <div class="information_bottom">
            <div class="information_bottom_left">
                <span>Inauguration of the main office of the BSCA - Bank, «a bank
                    that meets the expectations of the Congolese» said honourable Calixte Nganongo
                </span>
                <br>
                <span>
                    20 September 2018
                </span>
            </div>
            <div class="information_bottom_rigth">
                <div class="information_bottom_rigth_item">
                    <span>With the holiday of agrarians!</span>
                    <br>
                    <span>16 September 2018</span>
                </div>
                <div class="information_bottom_rigth_item">
                    <span>Temporary unavailability of bank services</span>
                    <br>
                    <span>14 September 2018</span>
                </div>
                <div class="information_bottom_rigth_item">
                    <span>BSCA “European Banker of the Year”</span>
                    <br>
                    <span>12 September 2018</span>
                </div>
            </div>
        </div>
    </div>

